
{% extends 'base.html' %}

{% block content %}
<p>{{ movies|length }} Titles</p>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required>
    Date <input type="text" name="date" autocomplete="off" required>
    Country <input type="text" name="country" autocomplete="off" required>
    Type <input type="text" name="type" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.date }} - {{ movie.country }} - {{ movie.type }}
        <span class="float-right">
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <a class="imdb" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}